:root {
    --bs-breadcrumb-divider: ">";
    --neutral-50:   hsla(0,   0%, 100%, 1);
    --neutral-100:  hsla(0,   0%,  95%, 1);
    --neutral-200:  hsla(0,   0%,  92%, 1);
    --neutral-300:  hsla(0,   0%,  90%, 1);
    --neutral-400:  hsla(0,   0%,  64%, 1);
    --neutral-500:  hsla(0,   0%,  65%, 1);
    --neutral-600:  hsla(0,   0%,  40%, 1);
    --neutral-700:  hsla(0,   0%,  22%, 1);
    --neutral-800:  hsla(0,   0%,  16%, 1);
    --neutral-900:  hsla(0,   0%,   8%, 1);
  
    /*—————— Brand / Primary ——————*/
    --primary-50:   hsla(210, 23%,  91%, 1);
    --primary-500:  hsla(207, 43%,  40%, 1);
    --primary-900:  hsla(210, 26%,   9%, 1);
    --primary-400: hsla(33,  34%,  24%, 1);

    --accent-500:   hsla(32,  100%, 61%, 1);


    --secondary-900: hsla(165, 15%,   5%, 1); 
 }
